.main {
	padding: 1em;
	margin: 1em auto 2em auto;
	width: 100%;
	max-width: 1000px;
	background: #fff;

	@include small {
		padding: 1.5em;
	}

	@include medium {
		padding: 2em;
		width: 90%;
		box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
	}
}

p code {
	color: $red;
}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}