*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font: normal 16px/1.5 Georgia, Cambria, serif;
	color: #444;
	background: $bg;
	margin: 0;
	border-top: 0.5em solid $red;
	
	@include small {
		font-size: 18px;
	}
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #399;

	&:hover,
	&:focus {
		text-decoration: underline;
		color: #288;
	}
}

.main {
	padding: 1em;
	margin: 1em auto 2em auto;
	width: 100%;
	max-width: 1000px;
	background: #fff;

	@include small {
		padding: 1.5em;
	}

	@include medium {
		padding: 2em;
		width: 90%;
		box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.5);
	}
}

code {
	color: darken($red, 15%);
}