.highlight {
	margin: 2em -1em;
	padding: 1em;
	background-color: #073642;
	color: #93a1a1;
	
	@include small {
		margin: 2em -1.5em;
		padding: 1em 1.5em;
	}
	
	@include medium {
		margin: 2em -2em;
		padding: 1em 2em;
	}

	pre {
		
		font-size: 0.875em;
	}
}

.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
	color: #586e75;
	font-style: italic;
}

.highlight .cs {
	font-weight: bold;
}

.highlight .err {
	color: #dc322f;
	background: none;
}

.highlight .k { color: #cb4b16  }
.highlight .o {
	color: #93a1a1;
	font-weight: bold;
}

.highlight .p { color: #93a1a1  }
.highlight .ow {
	color: #2aa198;
	font-weight: bold;
}

.highlight .gd {
	color: #93a1a1;
	background-color: #372c34;
	display: inline-block;
}

.highlight .gd .x {
	color: #93a1a1;
	background-color: #4d2d33;
	display: inline-block;
}

.highlight .ge {
	color: #93a1a1;
	font-style: italic;
}

.highlight .gr { color: #aa0000 }
.highlight .gh { color: #586e75  }
.highlight .gi {
	color: #93a1a1;
	background-color: #1a412b;
	display: inline-block;
}

.highlight .gi .x {
	color: #93a1a1;
	background-color: #355720;
	display: inline-block;
}

.highlight .go { color: #888888 }
.highlight .gp { color: #555555 }
.highlight .gs {
	color: #93a1a1;
	font-weight: bold;
}

.highlight .gu { color: #6c71c4  }
.highlight .gt { color: #aa0000 }
.highlight .kc {
	color: #859900;
	font-weight: bold;
}

.highlight .kd { color: #268bd2  }
.highlight .kp {
	color: #cb4b16;
	font-weight: bold;
}

.highlight .kr {
	color: #d33682;
	font-weight: bold;
}

.highlight .n,
.highlight .na {
	color: #268bd2
}

.highlight .nb,
.highlight .nl {
	color: #859900
}
.highlight .nc { color: #d33682  }
.highlight .no { color: #b58900  }
.highlight .ni { color: #800080 }

.highlight .ne,
.highlight .nf {
	color: #268bd2;
	font-weight: bold;
}

.highlight .nn { color: #b58900  }
.highlight .nt {
	color: #268bd2;
	font-weight: bold;
}
.highlight .nx { color: #e2e7e7 }
.highlight .bp { color: #999 }
.highlight .vc { color: #008080 }

.highlight .vg,
.highlight .vi,
.highlight .nv,
.highlight .si {
	color: #268bd2
}

.highlight .w { color: #bbbbbb }

.highlight .kt,
.highlight .mf,
.highlight .m,
.highlight .mh,
.highlight .mi,
.highlight .s,
.highlight .sd,
.highlight .s2,
.highlight .sr,
.highlight .s1 {
	color: #2aa198
}

.highlight .mo,
.highlight .il {
	color: #009999;
}

.highlight .sb,
.highlight .sc,
.highlight .sh,
.highlight .sx {
	color: #d14
}

.highlight .se { color: #dc322f  }

.highlight .ss { color: #990073 }

.highlight div .gd,
.highlight div .gd .x,
.highlight div .gi,
.highlight div .gi .x {
	display: inline-block;
	width: 100%;
}