.title {
	margin: 0.5em 0;
	text-align: center;
	color: $title;
	font-size: 2em;
		
	@include medium {
		font-size: 2.5em;
	}

	@include large {
		font-size: 3em;
	}
	
	a {
		color: $title;
		text-decoration: none;
	}
	
	span {
		// inline-block so :first-letter works
		display: inline-block;
		
		&:first-letter {
			color: $red;
		}
	}
	
	
	@include mod(home) {
		font-size: 3em;
		
		@include medium {
			font-size: 5em;
		}
	
		@include large {
			font-size: 7.5em;
		}
	}
}