<!DOCTYPE html>
<html class="no-js">
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title>{{ page.title }} | Eric Ponto</title>

				{% if page.description %}
				<meta name="description" content="{{ page.description }}">
				{% endif %}

				<meta name="viewport" content="width=device-width">

				<link rel="icon" type="image/png" href="/favicon.png">

				<link rel="stylesheet" href="/css/styles.css">

		</head>
		<body>
			{{ content }}
		</body>
</html>
